<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://s3-ap-southeast-2.amazonaws.com/media1.mydeal.com.au/blog/post/blog_image_20180219221810890.jpg);">
  <div class="container">
    <h1>A unique experience..</h1>
  </div>
</div>

<p id="notice"><%= notice %></p>

    <div class="cards">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path("boss.jpg") %>)">
        <%= link_to  "Boss", index_fakes_path("boss") %>
      </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path("friend.jpg") %>)">
        <%= link_to  "Friend", index_fakes_path("friend") %>
      </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path("family.jpg") %>)">
        <%= link_to  "Family", index_fakes_path("family") %>
      </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path("employee.jpg") %>)">
        <%= link_to  "Employee", index_fakes_path("employee") %>
      </div>
    </div>

