<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path("#{@category}.jpg") %>);">
  <div class="container">
    <h1><%= @category.capitalize %></h1>
    <p>Choose your best <%= @category %></p>
  </div>
</div>

<div class="container">
  <div class="cards">
    <% @fakes.each do |fake| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path("#{fake.personality}.jpg") %>)">
        <%= link_to fake.nickname.capitalize, fake_path(fake) %>
        <p><%= fake.personality %></p>
      </div>
    <% end %>
  </div>
</div>

<%# <div class="container"> %>
<div
 id="map"
 style="height: 600px; width: 100%"
 data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
 data-markers="<%= @markers.to_json %>"
 ></div>
<%# </div> %>