<div class="container">
  <div class="information">
    <%= image_tag(@fake.url) %>
    <div class="description">
      <h2>
        <%= @fake.nickname.capitalize %>
      </h2>
        <%= @fake.category %>
        <%= @fake.personality %>
        <p>
        <%= @fake.description %>
        </p>
        <p>
          <div class="price">
            <strong>price:  <%= @fake.price %></strong>$
          </div>
        </p>
          <% @fake.rating.to_i.times do  %>
            <i class="fas fa-heart"></i>
          <% end %>
      </div>
    </div>
    <hr>
    <button type="button" class="btn btn-dark btn-lg btn-block">Book <%= @fake.nickname.capitalize %> </button>
</div>
