<div class="container">
  <div class="info">
    <h1>
      <strong>Nickname:</strong>
      <%= @fake.nickname %>
    </h1>
    <p>
      <strong>Category:</strong>
      <%= @fake.category %>
    </p>
    <p>
      <strong>personality:</strong>
      <%= @fake.personality %>
    </p>
    <p>
    </div>
    <div class="display">
    <strong>Url:</strong>
    <%= @fake.url %>
  </p>
  <p>
    <strong>description:</strong>
    <%= @fake.description %>
  </p>
  <p>
    <strong>price:</strong>
    <%= @fake.price %>
  </p>
  <p>
    <strong>rating:</strong>
    <%= @fake.rating %>
  </p>
  </div>
</div>
