<p>
  <strong>Nickname:</strong>
  <%= @fake.nickname %>
</p>

<p>
  <strong>Url:</strong>
  <%= @fake.url %>
</p>

<p>
  <strong>Category:</strong>
  <%= @fake.category %>
</p>
<p>
  <strong>personality:</strong>
  <%= @fake.personality %>
</p>
<p>
  <strong>description:</strong>
  <%= @fake.description %>
</p>
<p>
  <strong>price:</strong>
  <%= @fake.price %>
</p>
<p>
  <strong>rating:</strong>
  <%= @fake.rating %>
</p>
<hr>
