<div class="container">
  <div class="information">
    <%= image_tag(@fake.url) %>
    <div class="description">
      <h2>
        <%= @fake.nickname.capitalize %>
      </h2>
        <%= @fake.category %>
        <%= @fake.personality %>
        <p>
        <%= @fake.description %>
        </p>
        <p>
          <div class="price">
            <strong>price:  <%= @fake.price %></strong>$
          </div>
        </p>
          <% @fake.rating.to_i.times do  %>
            <i class="fas fa-heart"></i>
          <% end %>
      </div>
    </div>
    <hr>
    <%= simple_form_for([@fake, @renting]) do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <button type="submit"  class="btn btn-dark btn-lg btn-block">Book <%= @fake.nickname.capitalize %> </button>
    <% end %>
</div>
