<div class="container">
  <div class="information">
    <%= image_tag(@fake.url) %>
    <div class="description">
      <h2>
        <%= @fake.nickname %>
      </h2>
        <%= @fake.category %>
        <%= @fake.personality %>
        <p>
        <%= @fake.description %>
        </p>
        <p>
        <strong>price:</strong>$
        <%= @fake.price %>
        </p>
        <%= @fake.rating %>
      </div>
    </div>
</div>
